Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

added API call to edit multiple members
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

working remove method from fridge
  frontend/pages/administrate-fridge.vue
  frontend/service/httputils/RefrigeratorService.ts
  frontend/types/RemoveMemberRequest.ts
Due: test_frontend, build_frontend

Edit roles for users
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

Added global language to administrate
  frontend/components/Form/CreateFridgeForm.vue
  frontend/components/Form/EditFridgeForm.vue
  frontend/components/Form/InviteUserForm.vue
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

merge conflict resolve
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

finished method for removing a member from fridge
  frontend/locales/en.json
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

fix: bug in frontend. Display suggested groceries
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
Due: test_frontend, build_frontend

added search bar to recipe list
  frontend/assets/icons/search.png
  frontend/components/Recipe/RecipeCatalog.vue
Due: test_frontend, build_frontend

Created endpoint for updating a grocery
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

tests for refrigeratorGrocery update endpoint
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

RemoveMemberRequest
  frontend/types/RemoveMemberRequest.ts
Due: test_frontend, build_frontend

add: comparator for groceries and categories
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/SubCategory.java
  backend/src/main/java/ntnu/idatt2106/backend/model/category/Category.java
  backend/src/main/java/ntnu/idatt2106/backend/model/category/CategoryComparator.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryNotificationDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/ShoppingListElementDTOComparator.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/Grocery.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryNotification.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingCart.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/model/recipe/RecipeGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/CategoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryNotificationRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
Due: test_backend, package_backend

Small improvements to shoppinglist ux
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
Due: test_frontend, build_frontend

changed default colorMode to light
  frontend/nuxt.config.ts
Due: test_frontend, build_frontend

RemoveByRefrigerator in ShoppingListRepository
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingListRepository.java
Due: test_backend, package_backend

Updated cascading properties for Refrigerator associated models
  backend/src/main/java/ntnu/idatt2106/backend/model/Refrigerator.java
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/model/ShoppingCart.java
  backend/src/main/java/ntnu/idatt2106/backend/model/ShoppingList.java
Due: test_backend, package_backend

Refrigerator removal update
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

added user, refrigerator and grocery testdata
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/refrigerator/NewRefrigeratorDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/UserRepository.java
Due: test_backend, package_backend

UUID now automatically generated in USER class by JPA
  backend/src/main/java/ntnu/idatt2106/backend/model/User.java
  backend/src/main/java/ntnu/idatt2106/backend/service/AuthenticationService.java
Due: test_backend, package_backend

implemented frontend for updating date object, needs hot reload
  frontend/components/refrigerator/Element.vue
  frontend/service/httputils/GroceryService.ts
  frontend/store/refrigeratorStore.ts
Due: test_frontend, build_frontend

implemented notification load into element
  frontend/components/refrigerator/Element.vue
Due: test_frontend, build_frontend

fix: pipline failed
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

fix: merge conflict
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

pipeline fix
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

Working recipePool for type Recipe
  frontend/assets/icons/Locked.webp
  frontend/assets/icons/unlock.png
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/components/WeeklyMenu/UnknownRecipe.vue
  frontend/pages/weekly-menu.vue
  frontend/store/WeeklyMenuStore.ts
  frontend/types/RecipeType.ts
Due: test_frontend, build_frontend

fixed password encoder in test data
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

fixed merge conflicts
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

edit: view of groceries show description
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/ShoppingListElementDTOComparator.java
  frontend/components/shopping_list/AddNewElement.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/ShoppingListService.ts
  frontend/types/GroceryListElement.ts
  frontend/types/ResponseGrocery.ts
  frontend/types/ShoppingListElement.ts
Due: test_backend, package_backend, test_frontend, build_frontend

small bug fix date editing
  frontend/components/refrigerator/Element.vue
Due: test_frontend, build_frontend

add: create own DTO for shopping cart
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTOComparator.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
Due: test_backend, package_backend

route to refrigerator
  frontend/components/Notifications/Element.vue
Due: test_frontend, build_frontend

leaveFridge /w feedback
  frontend/locales/en.json
  frontend/locales/no.json
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

Remove shoppingCart by ShoppingList
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingCartRepository.java
Due: test_backend, package_backend

Removed cascade
  backend/src/main/java/ntnu/idatt2106/backend/model/Refrigerator.java
  backend/src/main/java/ntnu/idatt2106/backend/model/ShoppingCart.java
Due: test_backend, package_backend

RefrigeratorService deletes refrigerator & creates List/Cart
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Commented out cascading
  backend/src/main/java/ntnu/idatt2106/backend/model/ShoppingList.java
Due: test_backend, package_backend

Added cascading to remove Notifications and Groceries when refrigerator is removed
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryNotification.java
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorGrocery.java
Due: test_backend, package_backend

added logline
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend
