Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

New recipes with units
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

Method for fetching refrigerator ingredients matching recipe
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

Endpoint for fetching refrigerator ingredients matching recipe
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
Due: test_backend, package_backend

Fixed merge conflict
  backend/src/main/java/ntnu/idatt2106/backend/service/RecipeService.java
Due: test_backend, package_backend

More refrigeratorGroceries to match recipes
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

API call for matching ingredients
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

redesigned index; added wave component, changed button bg, changed logo
  frontend/assets/icons/smartmat/smartMat.png
  frontend/assets/icons/smartmat/smartMatgreen.png
  frontend/components/Wave/Wave.vue
  frontend/pages/index.vue
Due: test_frontend, build_frontend

redesigned index; added margin and new bg color to my profile icon
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

redesigned index; changed hover color on buttons
  frontend/pages/index.vue
Due: test_frontend, build_frontend

redesigned FridgeSelector.vue; dropdown is white
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

added login guard to administrate-fridge.vue
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

translation recipes
  frontend/locales/no.json
  frontend/pages/recipe-list.vue
Due: test_frontend, build_frontend

translation on weekly menu
  frontend/locales/no.json
Due: test_frontend, build_frontend

RecipePool and display shows
  frontend/components/Recipe/RecipeDisplay.vue
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

add: test for ShoppingListService
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/ShoppingListServiceTest.java
Due: test_backend, package_backend

Fixed populator
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

fix deleting fridge as last user
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

Updated StatMonth interface to fit backend
  frontend/types/StatMonth.ts
Due: test_frontend, build_frontend

Updated StatsService to fit with backend
  frontend/service/httputils/StatsService.ts
Due: test_frontend, build_frontend

Updated stats page
  frontend/pages/stats.vue
Due: test_frontend, build_frontend

Improved BarChart (updates,dynamic,multi language)
  frontend/components/stats/BarChart.vue
Due: test_frontend, build_frontend

Added languages for stats
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

Updated navbar to link to stats
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Fixed fetching of units
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

fixed removing selected fridge when deleting last fridge
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

responsive design
  frontend/components/Form/CreateFridgeForm.vue
  frontend/components/Form/EditFridgeForm.vue
  frontend/components/Form/InviteUserForm.vue
Due: test_frontend, build_frontend

updated setSelectedRefrigerator in refrigeratorStore
  frontend/store/refrigeratorStore.ts
Due: test_frontend, build_frontend

Added log
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
Due: test_backend, package_backend

Bugfix
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

error fixes
  frontend/locales/en.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

unit functionality to controller
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
Due: test_backend, package_backend

migrated dtos
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/ShoppingListElementDTO.java
Due: test_backend, package_backend

modified services
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

fixed tests and models
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingCart.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequestTest.java
  frontend/components/shopping_list/ShoppingList.vue
  frontend/types/SaveGrocery.ts
Due: test_backend, package_backend, test_frontend, build_frontend

added unit functionality in frontend
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/GroceryService.ts
  frontend/service/httputils/ShoppingCartService.ts
  frontend/types/ResponseGrocery.ts
  frontend/types/ShoppingListElement.ts
Due: test_frontend, build_frontend

deleted unused component
  frontend/components/shopping_list/AddNewElement.vue
Due: test_frontend, build_frontend

Fix issue with food waste statistics backend
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryHistoryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

add: test for category
  backend/src/test/java/ntnu/idatt2106/backend/model/category/CategoryTest.java
Due: test_backend, package_backend

add: test for ShoppingCartService
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/ShoppingCartServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/ShoppingListServiceTest.java
Due: test_backend, package_backend

Removed console.log
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
