Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

updated translations
  frontend/components/Form/LogInForm.vue
  frontend/components/Notifications/Element.vue
  frontend/components/refrigerator/Display.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

fix pipeline
  frontend/components/Button/FavoriteToggler.vue
Due: test_frontend, build_frontend

test: SaveGroceryRequest after new implementation
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequestTest.java
Due: test_backend, package_backend

fix: merge conflict
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
Due: test_backend, package_backend

Updated fridgSelector
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

Fix to fridgeSelector
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

Fixed links
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

sends user to create fridge if user has no fridge
  frontend/pages/index.vue
Due: test_frontend, build_frontend

fix: bug saving grocery to shopping cart
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
Due: test_backend, package_backend

eat/trash/remove now sends to shopping list
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

add: sorting for groceries
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingListElement/GroceryDTOComparator.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

Backup route if no refrigerator
  frontend/components/refrigerator/Wrapper.vue
Due: test_frontend, build_frontend

migrated api call
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  frontend/components/refrigerator/Dropdown.vue
  frontend/service/httputils/GroceryService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

fix: bug edit grocery suggestionsRefrigeratorList
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

fix: css bug for categories in shopping list
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  frontend/components/shopping_list/ShoppingList.vue
Due: test_backend, package_backend, test_frontend, build_frontend

notification styling
  frontend/components/Notifications/Element.vue
  frontend/components/Notifications/List.vue
  frontend/pages/notifications.vue
Due: test_frontend, build_frontend

add: feature transfer from cart to shopping list
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/ShoppingCartService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

fix register
  backend/src/main/java/ntnu/idatt2106/backend/service/AuthenticationService.java
Due: test_backend, package_backend

Created unit tests for model.dto
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/CreateRefrigeratorGroceryDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/DeleteRefrigeratorGroceryDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/GroceryDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/GroceryInfoDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/GroceryNotificationDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/MemberDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/PasswordChangeDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/RefrigeratorDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/UnitDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/UserProfileDTOTest.java
Due: test_backend, package_backend

add: transactional to methods
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

FridgeSelector placeholder changed to new
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

fetch ingredients from backend and remove all
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/components/WeeklyMenu/UnknownRecipe.vue
  frontend/locales/en.json
  frontend/store/WeeklyMenuStore.ts
  frontend/types/IngredientType.ts
  frontend/types/RecipeType.ts
Due: test_frontend, build_frontend

translation
  frontend/locales/en.json
Due: test_frontend, build_frontend

translation
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/locales/en.json
Due: test_frontend, build_frontend

migrated to LocalDate in order to fix TZ bug
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RecipeService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
  frontend/components/refrigerator/Element.vue
Due: test_backend, package_backend, test_frontend, build_frontend

test fix
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTOTest.java
  frontend/components/refrigerator/List.vue
Due: test_backend, package_backend, test_frontend, build_frontend

translation
  frontend/components/WeeklyMenu/UnknownRecipe.vue
  frontend/locales/en.json
Due: test_frontend, build_frontend

added emit to view recipe select
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/pages/weekly-menu.vue
Due: test_frontend, build_frontend

bug fix to remove all method
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

updated swagger doc and exception handling
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/CookieService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

test fix
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

bug fix to remove recipe method
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

Added empty RecipeDisplay shell
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

Added RecipeDisplay to weekly-menu
  frontend/pages/weekly-menu.vue
Due: test_frontend, build_frontend

Default is hidden
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

changed add to shopping list alert
  frontend/components/shopping_list/AddNewElement.vue
Due: test_frontend, build_frontend

responsive design
  frontend/components/FridgeSelector.vue
  frontend/components/Notifications/Element.vue
  frontend/components/Notifications/List.vue
  frontend/components/Profile/MyProfile.vue
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/SelectUnit.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/pages/register.vue
Due: test_frontend, build_frontend

bug fix to emit
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

Model for historic grocery
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryHistory.java
Due: test_backend, package_backend

repo for groceryHistory
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryHistoryRepository.java
Due: test_backend, package_backend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
