Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

front end will fetch recipes from backend
  frontend/components/Recipe/RecipeCatalog.vue
  frontend/service/httputils/RecipeService.ts
Due: test_frontend, build_frontend

Updated edit grocery methods
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

revert white
  frontend/assets/global.css
Due: test_frontend, build_frontend

edit: endpoint to edit grocery in shopping list
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/EditGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

Enable user to update quantity and requested props
  frontend/components/shopping_list/ShoppingListElement.vue
Due: test_frontend, build_frontend

Added alerts
  frontend/components/Form/EditFridgeForm.vue
  frontend/components/Form/InviteUserForm.vue
  frontend/locales/no.json
Due: test_frontend, build_frontend

Small updates
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

Final updates to ShoppingList; update grocery
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

draft for inserting test data
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeCategoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

fixed select popup
  frontend/components/FridgeSelector.vue
  frontend/components/NavBar.vue
  frontend/components/SelectPrompt.vue
  frontend/pages/index.vue
Due: test_frontend, build_frontend

ensure logged in on front page
  frontend/pages/index.vue
Due: test_frontend, build_frontend

fixed pipeline
  frontend/components/Recipe/RecipeCatalog.vue
Due: test_frontend, build_frontend

created recipeDTO
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RecipeDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

finalized some test data
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

Improved error handling
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

Check for existing member in addMember
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

RefrigeratorService requests to pass MemberRequest
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

refrigeratorid -> refrigeratorId
  frontend/types/MemberType.ts
Due: test_frontend, build_frontend

can now manually enter width of bubble "cut" in baseinput
  frontend/components/Form/BaseInput.vue
  frontend/components/Form/LogInForm.vue
  frontend/components/Form/RegisterForm.vue
  frontend/pages/login.vue
Due: test_frontend, build_frontend

user will now be redirected to home when accessing login or register when authenticated
  frontend/middleware/auth.ts
  frontend/pages/index.vue
Due: test_frontend, build_frontend

can now manually enter width of bubble "cut" in baseinput
  frontend/components/Form/CreateFridgeForm.vue
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

continous deployment configuration
  backend/Dockerfile
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.yml
Due: test_backend, package_backend

specified system properties for CD
  backend/system.properties
Due: test_backend, package_backend

further CD configs
  backend/Dockerfile
  backend/src/main/java/ntnu/idatt2106/backend/config/SecurityConfig.java
  backend/src/main/resources/application-prod.properties
Due: test_backend, package_backend

made frontend ready for CD
  frontend/Dockerfile
  frontend/package.json
  frontend/service/AxiosInstance.ts
Due: test_frontend, build_frontend

possible final configurations for CD. updated with correct urls to server
  backend/src/main/java/ntnu/idatt2106/backend/config/SecurityConfig.java
  frontend/service/AxiosInstance.ts
Due: test_backend, package_backend, test_frontend, build_frontend

added cross origin policy to allow new domain
  backend/src/main/java/ntnu/idatt2106/backend/config/SecurityConfig.java
Due: test_backend, package_backend

added frontend domain and secure flag to cookie
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
Due: test_backend, package_backend

fixed cookie issues
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/ntnu/idatt2106/backend/unit/controller/AuthenticationTests.java
Due: test_backend, package_backend

updated frontend to send requests to api subdomain
  frontend/service/AxiosInstance.ts
Due: test_frontend, build_frontend

update cors policy
  backend/src/main/java/ntnu/idatt2106/backend/config/SecurityConfig.java
Due: test_backend, package_backend

added same site config to cookie
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
Due: test_backend, package_backend

modified logout endpoint to use cookie config
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
Due: test_backend, package_backend

fix:merged to features into two method and fix bug
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

Handler for LastSuperException
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
Due: test_backend, package_backend

Added check to RefrigeratorService
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

Added endpoint to change multiple roles at same call
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

Tests
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Alerts use global language
  frontend/components/Form/EditFridgeForm.vue
Due: test_frontend, build_frontend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
