Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

Delete .gitkeep
  public/.gitkeep
Due: none

Upload New File
  public/index.html
Due: none

Delete index.html
  public/index.html
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Delete jacoco-resources
  public/jacoco-resources
Due: none

javadoc
  backend/.gitignore
  backend/pom.xml
Due: test_backend, package_backend

made test serializer run on dev
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

added test to BaseInput.spec.ts
  frontend/components/Form/BaseInput.spec.ts
Due: test_frontend, build_frontend

Removed x scroll ingredient
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

new height for card
  frontend/components/Recipe/RecipeCard.vue
Due: test_frontend, build_frontend

added test to RecipeWeeklyCard.spec.ts
  frontend/components/WeeklyMenu/RecipeWeeklyCard.spec.ts
Due: test_frontend, build_frontend

testdata cd config
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

Dark text next week
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

Made room for more text
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

added green background to lock and increased padding
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

Removed see ingredients from card
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

translate log out
  frontend/components/Profile/MyProfile.vue
Due: test_frontend, build_frontend

overflow fix on big devices
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

Better button contrast
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

Changed to "går ut på dato"
  frontend/locales/no.json
Due: test_frontend, build_frontend

rewrote lock to use tailwind
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

button fix RecipePool.vue
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

fixed tests
  frontend/components/WeeklyMenu/RecipeWeeklyCard.spec.ts
Due: test_frontend, build_frontend

cd config
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

README.md
  README.md
  screenshots/adm_1.png
  screenshots/adm_2.png
  screenshots/classdiagram.png
  screenshots/english.png
  screenshots/german.png
  screenshots/home.png
  screenshots/home_dark.png
  screenshots/kjoleskab.png
  screenshots/phone.png
  screenshots/recipe.png
  screenshots/recipe_dark.png
  screenshots/ref_dark.png
  screenshots/settings'.png
  screenshots/week.png
  screenshots/week_dark.png
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
