Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

Unit models + serializer
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/model/Unit.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/UnitRepository.java
Due: test_backend, package_backend

created FetchrecipeDTOs
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/recipe/FetchRecipesDTO.java
  frontend/types/FetchRecipeDTO.ts
Due: test_backend, package_backend, test_frontend, build_frontend

migrated recipecatalog to use new backend logic
  frontend/components/Recipe/RecipeCatalog.vue
  frontend/service/httputils/RecipeService.ts
Due: test_frontend, build_frontend

migrated recipre controller and service to use new fetching logic
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

Removed unused component data
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Error fixes
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

selectedRefrigerator initiates as null, not {}
  frontend/store/refrigeratorStore.ts
Due: test_frontend, build_frontend

added getter for favorite
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

Moved method
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

FridgeSelector script rewrite
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

added header to recipre page
  frontend/locales/no.json
  frontend/pages/recipe-list.vue
Due: test_frontend, build_frontend

add: model for RefrigeratorGroceryShoppingList
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTOComparator.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorShoppingListService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

addRecipe method fetches from backend
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

fixed serializer and tests
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
  backend/src/main/java/ntnu/idatt2106/backend/model/Unit.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGrocery.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

added unit to DTO
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
Due: test_backend, package_backend

migrated to unitDTO
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/UnitDTO.java
Due: test_backend, package_backend

implemented unit into types
  frontend/types/GroceryEntityType.ts
  frontend/types/UnitType.ts
Due: test_frontend, build_frontend

fix: response type for shoppingCart
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
Due: test_backend, package_backend

fix: merge error
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/shoppingCartElement/ShoppingCartElementDTO.java
Due: test_backend, package_backend

fix edit grocery
  frontend/components/refrigerator/Display.vue
  frontend/components/refrigerator/Dropdown.vue
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/Element.vue
  frontend/components/refrigerator/List.vue
  frontend/components/refrigerator/Wrapper.vue
Due: test_frontend, build_frontend

edpoint to recive groceries refrigeratorSuggestion
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/service/httputils/ShoppingListService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Small language edit
  frontend/locales/en.json
Due: test_frontend, build_frontend

Minor changes
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

Added disabled option to BaseInput
  frontend/components/Form/BaseInput.vue
Due: test_frontend, build_frontend

Disabled if not superuser
  frontend/components/Form/EditFridgeForm.vue
Due: test_frontend, build_frontend

Style changes
  frontend/components/Form/InviteUserForm.vue
Due: test_frontend, build_frontend

Administrate behaves based on role
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

finalized algorithm to fetch recipes
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/recipe/RecipeService.java
Due: test_backend, package_backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

made front end compatible with endpoint to fetch recipes
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/UnknownRecipe.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/weekly-menu.vue
  frontend/service/httputils/RecipeService.ts
Due: test_frontend, build_frontend

Added reporting to pom.xml
  backend/pom.xml
Due: test_backend, package_backend

Revert "Added reporting to pom.xml"
  backend/pom.xml
Due: test_backend, package_backend

router fix
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

syntax
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/UnitDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

connect backend-frontend regfrigeratorShoppingList
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/ShoppingCartService.ts
  frontend/service/httputils/ShoppingListService.ts
  frontend/types/ShoppingListElement.ts
Due: test_backend, package_backend, test_frontend, build_frontend

add: responsive frontend
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

frontned will now fetch random recipes from server
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

edit: remove comments and edit names
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

bug fix to locks
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
