Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

Changed start type of milk
  backend/src/main/java/ntnu/idatt2106/backend/config/TestDataSerializer.java
Due: test_backend, package_backend

Displays yellow if not enough of ingredient
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

languages++
  frontend/locales/en.json
Due: test_frontend, build_frontend

Unit in savegrocery
  frontend/types/SaveGrocery.ts
Due: test_frontend, build_frontend

improved reactivity
  frontend/components/refrigerator/Wrapper.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/pages/home.vue
Due: test_frontend, build_frontend

test fix
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

conected recipe page to weekly menu page
  frontend/components/Recipe/RecipeCard.vue
  frontend/components/Recipe/RecipeCatalog.vue
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/locales/en.json
  frontend/pages/recipe-list.vue
  frontend/store/WeeklyMenuStore.ts
Due: test_frontend, build_frontend

Removed console.log
  frontend/components/refrigerator/SelectUnit.vue
Due: test_frontend, build_frontend

Unit add to shopping list
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

vitest config
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: test_frontend, build_frontend

tests drafts
  frontend/components/Form/BaseInput.vue
  frontend/components/Form/Baseinput.spec.ts
  frontend/components/Form/LogInForm.vue
  frontend/components/Form/LoginForm.spec.ts
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/service/AxiosInstance.ts
  frontend/service/httputils/authentication/AuthenticationService.ts
  frontend/store/WeeklyMenuStore.ts
  frontend/store/refrigeratorStore.ts
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

removed border navbar
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

updated language files
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

recipe grammar
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

made dropdown into buttons
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

comment out not working test
  backend/src/test/java/ntnu/idatt2106/backend/integration/recipe/RecipeGroceryIntegrationTest.java
Due: test_backend, package_backend

Added RecipeDisplay to recipe-list
  frontend/pages/recipe-list.vue
Due: test_frontend, build_frontend

test fix
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/ShoppingCartServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/ShoppingListServiceTest.java
Due: test_backend, package_backend

Bugfix
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/locales/en.json
Due: test_frontend, build_frontend

removed imports
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

fixed something
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/weekly-menu.vue
Due: test_frontend, build_frontend

Added norwegian average to stats
  frontend/components/stats/BarChart.vue
Due: test_frontend, build_frontend

Added norwegian_average languages
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

Minor changes
  frontend/components/Recipe/RecipeCatalog.vue
  frontend/components/Recipe/RecipeDisplay.vue
  frontend/components/WeeklyMenu/RecipePool.vue
Due: test_frontend, build_frontend

fixed something
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: test_frontend, build_frontend

fixed title color for light and dark mode
  frontend/pages/recipe-list.vue
Due: test_frontend, build_frontend

fixed search function for recipe list
  frontend/components/Recipe/RecipeCard.vue
  frontend/components/Recipe/RecipeCatalog.vue
Due: test_frontend, build_frontend

Changed button
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

languages++
  frontend/locales/de.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

fixed locales
  frontend/locales/de.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

vitest config
  frontend/vitest.config.ts
Due: test_frontend, build_frontend

working test for baseinput
  frontend/components/Form/BaseInput.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: test_frontend, build_frontend

bug fix
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
Due: test_frontend, build_frontend

bug fix
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Bugfixes
  frontend/components/Recipe/RecipeCard.vue
  frontend/components/Recipe/RecipeDisplay.vue
Due: test_frontend, build_frontend

add: some test for ShoppingCartController
  backend/src/test/java/ntnu/idatt2106/backend/controller/ShoppingCartControllerTest.java
Due: test_backend, package_backend

add: some test for ShoppingListController
  backend/src/test/java/ntnu/idatt2106/backend/controller/ShoppingListControllerTest.java
Due: test_backend, package_backend

add: test for RefrigeratorGroceryTest
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/model/grocery/RefrigeratorGroceryTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend
