Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

jacoco
  .gitlab-ci.yml
Due: none

Merge with Dev
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/MemberDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/refrigerator/RefrigeratorDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/response/MemberResponse.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Added new icon
  frontend/assets/icons/done.png
Due: test_frontend, build_frontend

Added new method to ShoppingListService
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

Updated ShoppingList and ShoppingListElement
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
Due: test_frontend, build_frontend

Partial functionality for add to fridge. needs api
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  frontend/components/refridgerator/Dropdown.vue
  frontend/components/refridgerator/Fridge.vue
  frontend/components/refridgerator/New.vue
  frontend/locales/no.json
  frontend/pages/refridgerator.vue
  frontend/service/httputils/GroceryService.ts
  frontend/store/refridgeratorStore.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Slight changes to setFridgeRole
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

design changes on my profile index
  frontend/components/Profile/MyProfile.vue
  frontend/pages/my-profile/index.vue
Due: test_frontend, build_frontend

add: init feature to add new grocery
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/NoGroceriesFound.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  frontend/components/shopping_list/AddNewElement.vue
  frontend/service/httputils/GroceryListService.ts
  frontend/service/httputils/GroceryService.ts
  frontend/types/GroceryListElement.ts
Due: test_backend, package_backend, test_frontend, build_frontend

edit: remove error from ShoppingListService
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

Added tests to GroceryServiceTest
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

Added tests to GroceryControllerTest
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

updated dropdown
  frontend/components/refridgerator/Dropdown.vue
Due: test_frontend, build_frontend

fixed fridge grouping bug
  frontend/components/refridgerator/FridgeElement.vue
  frontend/components/refridgerator/List.vue
  frontend/pages/refridgerator.vue
  frontend/store/refridgeratorStore.ts
  frontend/types/GroceryType.ts
Due: test_frontend, build_frontend

css bug
  frontend/components/Notifications/List.vue
Due: test_frontend, build_frontend

Added tests to RefrigeratorControllerTest
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
Due: test_backend, package_backend

moved refrigerator into wrapper
  frontend/components/refridgerator/Wrapper.vue
  frontend/pages/refridgerator.vue
Due: test_frontend, build_frontend

untested api calls in frontend. backend controllers need updates
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  frontend/components/refridgerator/List.vue
  frontend/components/refridgerator/Wrapper.vue
  frontend/store/refridgeratorStore.ts
  frontend/types/GroceryType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

partial frontend retrieval for refrigerators
  frontend/components/FridgeSelector.vue
  frontend/components/NavBar.vue
  frontend/components/refridgerator/FridgeElement.vue
  frontend/pages/index.vue
  frontend/service/httputils/GroceryService.ts
  frontend/service/httputils/RefridgeratorService.ts
Due: test_frontend, build_frontend

minor error fix
  frontend/components/refridgerator/Wrapper.vue
Due: test_frontend, build_frontend

Requests should not contain superUsername
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/MemberRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/RemoveMemberRequest.java
Due: test_backend, package_backend

fixed log out bugs
  frontend/components/NavBar.vue
  frontend/layouts/default.vue
  frontend/middleware/auth.ts
  frontend/pages/index.vue
  frontend/pages/notifications.vue
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

jakarta api
  backend/pom.xml
Due: test_backend, package_backend

improved log out to use routing instead of hard reload
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

added space between buttons in system settings
  frontend/pages/system-settings.vue
Due: test_frontend, build_frontend

added hover effects to navbar elements
  frontend/assets/global.css
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

bug fix
  frontend/components/refridgerator/List.vue
  frontend/store/refridgeratorStore.ts
  frontend/types/SubCategoryType.ts
Due: test_frontend, build_frontend

added more hover effects to navbar elements
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

implemented api calls into refrigerator
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  frontend/components/refridgerator/New.vue
  frontend/components/refridgerator/Wrapper.vue
  frontend/service/httputils/GroceryService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Notnull refrigeratorDTO
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorDTO.java
Due: test_backend, package_backend

removeByRefrigeratorId method RefrigeratorGroceryRepository
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

Changes to take httpRequest
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Changed endpoints to provide HttpRequest
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
Due: test_backend, package_backend

updated refrigerator layout
  frontend/components/refridgerator/Dropdown.vue
  frontend/components/refridgerator/Fridge.vue
  frontend/components/refridgerator/FridgeElement.vue
  frontend/components/refridgerator/GroceryOptions.vue
  frontend/components/refridgerator/List.vue
  frontend/components/refridgerator/New.vue
Due: test_frontend, build_frontend

updated language json files
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

updated layout
  frontend/pages/my-profile/change-password.vue
  frontend/pages/my-profile/edit.vue
Due: test_frontend, build_frontend

bug fixes
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  frontend/components/refridgerator/New.vue
  frontend/service/httputils/GroceryService.ts
  frontend/service/httputils/RefridgeratorService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

error alerts
  frontend/components/AlertBox/ErrorAlert.vue
  frontend/components/Form/RegisterForm.vue
Due: test_frontend, build_frontend
