Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

fixed router
  frontend/pages/my-profile/change-password.vue
Due: test_frontend, build_frontend

javadoc
  backend/src/main/java/ntnu/idatt2106/backend/repository/CategoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryHistoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryNotificationRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeCategoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeRepository.java
Due: test_backend, package_backend

tests
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/GroceryStatisticDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingListTest.java
Due: test_backend, package_backend

tests
  backend/src/test/java/ntnu/idatt2106/backend/model/GroceryNotificationTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingCartTest.java
Due: test_backend, package_backend

Removed location reload where possible
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

Scrollfix
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
Due: test_frontend, build_frontend

doc: add javadoc for repositories
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorUserRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/SubCategoryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/UnitRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/UserRepository.java
Due: test_backend, package_backend

tests
  backend/src/test/java/ntnu/idatt2106/backend/model/GroceryNotificationTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/FetchRecipeDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/IngredientDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/dto/RecipeDTOTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingCartTest.java
Due: test_backend, package_backend

user will now be routed to login when session expired, also removed alert
  frontend/service/AxiosInstance.ts
Due: test_frontend, build_frontend

added padding and gap to home page
  frontend/layouts/default.vue
  frontend/pages/home.vue
Due: test_frontend, build_frontend

possible fix to node env bug
  frontend/package-lock.json
  frontend/package.json
Due: test_frontend, build_frontend

removed test that was not working
  frontend/store/userStore.spec.ts
Due: test_frontend, build_frontend

translation
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

remove disabled
  frontend/pages/my-profile/change-password.vue
Due: test_frontend, build_frontend

responsive design
  frontend/components/refrigerator/Display.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/pages/home.vue
Due: test_frontend, build_frontend

fix transferAllToRefrigerator
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
Due: test_backend, package_backend

javadoc gitlab pages
  .gitlab-ci.yml
Due: none

jacoco
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

bug fix
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

Add new directory
  public/.gitkeep
Due: none

Upload New File
  public/jacoco-resources
Due: none
