Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

update bg color names in global.css
  frontend/assets/global.css
Due: test_frontend, build_frontend

added path to about-us.vue
  frontend/pages/index.vue
Due: test_frontend, build_frontend

update bg color name
  frontend/layouts/default.vue
Due: test_frontend, build_frontend

fixed LoginIntegrationTest
  backend/src/test/java/ntnu/idatt2106/backend/integration/LoginIntegrationTest.java
Due: test_backend, package_backend

edit: backend for groceries with specific category
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

edit: replace mock data with api for CategoryList
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/pages/home.vue
  frontend/service/httputils/ShoppingListService.ts
  frontend/types/ShoppingListCategory.ts
Due: test_frontend, build_frontend

Grocery Controller & Service
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

edit: response in backend for suggestions
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

edit: replace mock data for suggestions with api
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
  frontend/pages/home.vue
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

Minor changes
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

RefrigeratorNotFoundException
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/RefrigeratorNotFoundException.java
Due: test_backend, package_backend

minor changes to service and written tests
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
Due: test_backend, package_backend

added about-us.vue
  frontend/pages/about-us.vue
Due: test_frontend, build_frontend

added translation
  frontend/pages/my-profile/change-password.vue
  frontend/pages/my-profile/edit.vue
Due: test_frontend, build_frontend

Created controller for notifications
  backend/src/main/java/ntnu/idatt2106/backend/controller/NotificationController.java
Due: test_backend, package_backend

styling
  frontend/components/Form/LogInForm.vue
  frontend/components/Form/RegisterForm.vue
  frontend/components/NavBar.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/register.vue
Due: test_frontend, build_frontend

changed i18n strategy to prefix_except_default
  frontend/nuxt.config.ts
Due: test_frontend, build_frontend

updated no.json
  frontend/locales/no.json
Due: test_frontend, build_frontend

updated global.css
  frontend/assets/global.css
Due: test_frontend, build_frontend

fixed styling on "Gå til kjøleskapet mitt" button
  frontend/pages/index.vue
Due: test_frontend, build_frontend

Generic methods updated
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

Todo
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

Merge from dev, test fixes
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Javadoc edit
  backend/src/main/java/ntnu/idatt2106/backend/model/Grocery.java
Due: test_backend, package_backend

RefrigeratorGroceryRepository
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

Added constructors for converting database models
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
Due: test_backend, package_backend

edit: response type for groceries in shopping cart
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
Due: test_backend, package_backend

edit: queries to fetch groceries from shoppingList
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
Due: test_backend, package_backend

edit: replace mock data with api for shopping cart
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/pages/home.vue
  frontend/service/httputils/ShoppingCartService.ts
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

Created the notifications frontend functionality
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryNotificationDTO.java
  frontend/assets/icons/restaurant.png
  frontend/components/NavBar.vue
  frontend/components/Notifications/Element.vue
  frontend/components/Notifications/List.vue
  frontend/pages/notifications.vue
  frontend/types/GroceryNotificationType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Whitespace
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
Due: test_backend, package_backend

minor design change
  frontend/components/Profile/MyProfile.vue
Due: test_frontend, build_frontend

Exception handling
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/NotificationController.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/NotificationException.java
Due: test_backend, package_backend

Display notifications if there are any
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryNotification.java
  frontend/assets/icons/bell-not.png
  frontend/components/NavBar.vue
  frontend/pages/index.vue
  frontend/service/httputils/NotificationService.ts
  frontend/store/notificationStore.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Changed logger to match rest of project
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
Due: test_backend, package_backend

findByRefrigerator method added in RefrigeratorGroceryRepository
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

Groceries by refrigerator method added to GroceryService
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

Groceries by refrigerator endpoint added to GroceryController
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

NotNull
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorGrocery.java
Due: test_backend, package_backend

Generalize getting role from request
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
