Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

remove testing front end in abcense of tests
  .gitlab-ci.yml
Due: none

added vitest
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/example.spec.ts
Due: test_frontend, build_frontend

added message field to registerResponse
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/response/RegisterResponse.java
  backend/src/main/java/ntnu/idatt2106/backend/service/AuthenticationService.java
Due: test_backend, package_backend

created E2E testing for login functionality
  frontend/.gitignore
  frontend/components/Form/LogInForm.vue
  frontend/components/Form/RegisterForm.vue
  frontend/cypress.config.js
  frontend/cypress/e2e/Authentication/login.cy.ts
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package-lock.json
  frontend/package.json
Due: test_frontend, build_frontend

add docker compose
  docker-compose.yml
Due: none

added Dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
Due: test_backend, package_backend, test_frontend, build_frontend

update placement of "go_to_my_fridge"
  frontend/locales/no.json
  frontend/pages/index.vue
Due: test_frontend, build_frontend

added transparent logo
  frontend/assets/icons/smartmat/smartMat_transparent.png
Due: test_frontend, build_frontend

added logo for dark mode
  frontend/pages/index.vue
Due: test_frontend, build_frontend

check docker version gitlab
  .gitlab-ci.yml
Due: none

remove docker host
  .gitlab-ci.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

dockerfile for dev
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: test_frontend, build_frontend

css and some icons
  frontend/assets/icons/fork.png
  frontend/assets/icons/restaurant.png
  frontend/assets/icons/trash.png
  frontend/components/refridgerator/FridgeElement.vue
  frontend/components/refridgerator/GroceryOptions.vue
  frontend/pages/refridgerator.vue
Due: test_frontend, build_frontend

css styling fridge
  frontend/components/refridgerator/Fridge.vue
Due: test_frontend, build_frontend

Model and repository
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryNotification.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryNotificationRepository.java
Due: test_backend, package_backend

add:type for grocery response response for backend
  frontend/types/ResponseGrocery.ts
Due: test_frontend, build_frontend

edit: names in type ShoppingListElement
  frontend/service/httputils/ShoppingListService.ts
  frontend/types/ShoppingListElement.ts
Due: test_frontend, build_frontend

edit: repsonse from backend
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/ShoppingListElementDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

edit: replaced mock data with api for ShoppingList
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/pages/home.vue
Due: test_frontend, build_frontend

added log out button
  frontend/components/Profile/MyProfile.vue
Due: test_frontend, build_frontend

implemented log out functionality
  frontend/service/httputils/authentication/AuthenticationService.ts
Due: test_frontend, build_frontend

switched from session storage to cookies regarding jwt token
  frontend/nuxt.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/service/AxiosInstance.ts
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

created cookie service, deleted SessionStorageService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/CookieService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/SessionStorageService.java
Due: test_backend, package_backend

migrated from session storage to use cookies
  backend/src/main/java/ntnu/idatt2106/backend/config/JwTAuthenticationFilter.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/MyProfileController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/response/AuthenticationResponse.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/unit/controller/AuthenticationTests.java
Due: test_backend, package_backend

made buttons on index wider
  frontend/pages/index.vue
Due: test_frontend, build_frontend

Created DTOs, repos and made slight mods
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryNotification.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryNotificationDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryNotificationRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorGroceryRepository.java
Due: test_backend, package_backend

Created notification service with parts of logic for notifications
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
Due: test_backend, package_backend

update layout profile
  frontend/components/Profile/InfoBox.vue
  frontend/components/Profile/MyProfile.vue
  frontend/pages/my-profile/change-password.vue
  frontend/pages/my-profile/index.vue
Due: test_frontend, build_frontend
