Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

.gitlab-ci.yml:

stages:
  - test_backend
  - package_backend
  - test_frontend
  - build_frontend

# ...

test_backend:
  stage: test_backend
  script:
    - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
      - target/site/jacoco
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

package_backend:
  stage: package_backend
  script:
    - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
      - target/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - backend/**/*

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run test
  artifacts:
    when: always
    paths:
      - coverage/
    reports:
      junit: coverage/junit.xml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        - frontend/**/*

Rearrange class
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

removeRefrigeratorGrocery method in GroceryService
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

removeRefrigeratorGrocery endpoint in GroceryController
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

updated NuxtLinks
  frontend/components/NavBar.vue
  frontend/pages/my-profile/change-password.vue
  frontend/pages/my-profile/edit.vue
  frontend/pages/my-profile/index.vue
Due: test_frontend, build_frontend

updated styling
  frontend/components/Profile/MyProfile.vue
  frontend/error.vue
  frontend/pages/system-settings.vue
Due: test_frontend, build_frontend

changed back to strategy prefix in nuxt config
  frontend/nuxt.config.ts
Due: test_frontend, build_frontend

updated global.css
  frontend/assets/global.css
Due: test_frontend, build_frontend

added translation and fixed api call notification
  backend/src/main/java/ntnu/idatt2106/backend/controller/NotificationController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorUser.java
  frontend/components/Notifications/Element.vue
  frontend/components/Notifications/List.vue
  frontend/locales/no.json
  frontend/pages/notifications.vue
  frontend/store/notificationStore.ts
  frontend/store/refridgeratorStore.ts
  frontend/types/GroceryEntityType.ts
  frontend/types/GroceryNotificationType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

added refrigerator name
  frontend/components/Notifications/Element.vue
  frontend/types/GroceryEntityType.ts
  frontend/types/RefrigeratorType.ts
Due: test_frontend, build_frontend

delete functionality frontend
  frontend/store/refridgeratorStore.ts
Due: test_frontend, build_frontend

delete functionality frontend
  frontend/components/Notifications/Element.vue
  frontend/components/Notifications/List.vue
  frontend/pages/notifications.vue
  frontend/service/httputils/NotificationService.ts
  frontend/store/notificationStore.ts
Due: test_frontend, build_frontend

Grocery NotNull fields
  backend/src/main/java/ntnu/idatt2106/backend/model/Grocery.java
Due: test_backend, package_backend

SaveGrocery test
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
Due: test_backend, package_backend

Generalized saveGroceryRequest
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
Due: test_backend, package_backend

Delete notification functionality backend
  backend/src/main/java/ntnu/idatt2106/backend/controller/NotificationController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
Due: test_backend, package_backend

Wrote tests for delete func
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
Due: test_backend, package_backend

Added custom boolean to flag if we are adding a new grocery or existing
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryDTO.java
Due: test_backend, package_backend

fixed delete bug
  backend/src/main/java/ntnu/idatt2106/backend/model/GroceryNotification.java
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
Due: test_backend, package_backend

initial try to switch to new role
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/MyProfileController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorUser.java
  backend/src/main/java/ntnu/idatt2106/backend/model/User.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/response/MemberResponse.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/response/UserStatusResponse.java
  backend/src/main/java/ntnu/idatt2106/backend/model/enums/FridgeRole.java
  backend/src/main/java/ntnu/idatt2106/backend/model/enums/UserRole.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/MemberRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorUserRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/AuthenticationService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
  backend/src/test/java/ntnu/idatt2106/backend/unit/controller/AuthenticationTests.java
Due: test_backend, package_backend

turned off server-side rendering in nuxt3 and removed manual session storage
  frontend/components/Form/RegisterForm.vue
  frontend/nuxt.config.ts
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

SaveGroceryRequest rollback
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
Due: test_backend, package_backend

Added SaveGroceryListRequest
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryListRequest.java
Due: test_backend, package_backend

Changed GroceryDTO to include Subcategory
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryDTO.java
Due: test_backend, package_backend

fixed old token accessor notification
  backend/src/main/java/ntnu/idatt2106/backend/controller/NotificationController.java
  backend/src/test/java/ntnu/idatt2106/backend/service/NotificationServiceTest.java
Due: test_backend, package_backend

switched from refrigeratorRequest to RefrigeratorDTO
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/refrigerator/RefrigeratorDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/RefrigeratorRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

added lombok annotations to model classes
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/EditGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/MemberRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/RemoveMemberRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
Due: test_backend, package_backend

added wagger documentation to RefrigeratorController
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

fixed role bug
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

Method name change
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Method to add groceries, TODO: tests
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

Added new type for an element in the grocery-list
  frontend/types/GroceryListElement.ts
Due: test_frontend, build_frontend

fixed role bugs in test classes
  backend/src/test/java/ntnu/idatt2106/backend/controller/RefrigeratorControllerTest.java
  backend/src/test/java/ntnu/idatt2106/backend/service/RefrigeratorServiceTest.java
Due: test_backend, package_backend

Added new service class to support add new grocery
  frontend/service/httputils/GroceryListService.ts
Due: test_frontend, build_frontend

Created the AddNewElement component
  frontend/components/shopping_list/AddNewElement.vue
Due: test_frontend, build_frontend

Updated the ShoppingList component
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

fixed name on swagger documenttion MyProfileController
  backend/src/main/java/ntnu/idatt2106/backend/controller/MyProfileController.java
Due: test_backend, package_backend

Updated add grocery test
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
Due: test_backend, package_backend

add: exception classes
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/ShoppingCartNotFound.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/ShoppingListNotFound.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/SubCategoryNotFound.java
Due: test_backend, package_backend

add:endpoint to transfer grcoery from list to cart
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

add: feature to transfer grocery from list to cart
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/ShoppingCartService.ts
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend
