Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

Dark mode background
  frontend/layouts/default.vue
Due: test_frontend, build_frontend

add: endpoints to transfer groceries to fridge
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

add: feature to transfer groceries to refrigerator
  frontend/components/shopping_list/AddNewElement.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListElement.vue
  frontend/service/httputils/GroceryService.ts
  frontend/service/httputils/ShoppingCartService.ts
  frontend/service/httputils/ShoppingListService.ts
Due: test_frontend, build_frontend

fix: forgotten method after merge conflict
  frontend/service/httputils/GroceryService.ts
Due: test_frontend, build_frontend

added create fridge in frontend
  frontend/components/Form/CreateFridgeForm.vue
  frontend/pages/create-fridge.vue
  frontend/service/httputils/RefrigeratorRequest.ts
  frontend/types/RefrigeratorRegisterData.ts
Due: test_frontend, build_frontend

fix: bug when lists in frontend is empty
  frontend/components/shopping_list/ShoppingList.vue
Due: test_frontend, build_frontend

created error box
  backend/src/main/java/ntnu/idatt2106/backend/controller/AuthenticationController.java
  frontend/components/AlertBox/ErrorAlert.vue
  frontend/components/Form/RegisterForm.vue
  frontend/components/NavBar.vue
  frontend/pages/notifications.vue
  frontend/pages/refridgerator.vue
Due: test_backend, package_backend, test_frontend, build_frontend

Fixed refridgeratorbugs
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/RefrigeratorUser.java
  frontend/components/FridgeSelector.vue
  frontend/components/refridgerator/Fridge.vue
  frontend/components/refridgerator/New.vue
  frontend/components/refridgerator/Wrapper.vue
  frontend/pages/index.vue
  frontend/service/httputils/GroceryService.ts
  frontend/service/httputils/RefridgeratorService.ts
  frontend/store/refridgeratorStore.ts
Due: test_backend, package_backend, test_frontend, build_frontend

added error box to login component
  frontend/components/Form/LogInForm.vue
  frontend/components/Form/RegisterForm.vue
Due: test_frontend, build_frontend

partial merge
  frontend/pages/home.vue
Due: test_frontend, build_frontend

minor changes
  frontend/components/refridgerator/GroceryOptions.vue
  frontend/pages/refridgerator.vue
  frontend/service/httputils/GroceryService.ts
Due: test_frontend, build_frontend

fixed delete bug, partial css
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/NotificationService.java
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
  frontend/components/refridgerator/Dropdown.vue
  frontend/components/refridgerator/New.vue
  frontend/components/refridgerator/Wrapper.vue
  frontend/pages/home.vue
  frontend/pages/index.vue
  frontend/service/httputils/GroceryService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

test fix
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

NavBar setting button style
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Fixed fridgeselector showing when empty
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

added "select_fridge" language
  frontend/locales/de.json
  frontend/locales/en.json
  frontend/locales/es.json
  frontend/locales/fr.json
  frontend/locales/hi.json
  frontend/locales/no.json
  frontend/locales/zh.json
Due: test_frontend, build_frontend

fixed create fridge
  frontend/components/Form/CreateFridgeForm.vue
  frontend/pages/create-fridge.vue
  frontend/service/httputils/RefrigeratorRequest.ts
Due: test_frontend, build_frontend

Updated documentation and exception handler
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

Documentation for swagger
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
Due: test_backend, package_backend

Route to create-fridge
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

New refrigerator icon
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Title language binding fix
  frontend/pages/create-fridge.vue
Due: test_frontend, build_frontend

System settings cursor pointer
  frontend/pages/system-settings.vue
Due: test_frontend, build_frontend

Fixed login/logout in navbar menu w/ border
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Custom layout without navBar
  frontend/layouts/custom.vue
Due: test_frontend, build_frontend

login page custom layout
  frontend/pages/login.vue
Due: test_frontend, build_frontend

Logout redirect to login
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Navbar text transformation
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Added logging NewRefrigerator Backend
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

refactoring file names frontend
  frontend/components/Form/CreateFridgeForm.vue
  frontend/components/NavBar.vue
  frontend/components/refrigerator/Display.vue
  frontend/components/refrigerator/Dropdown.vue
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/Element.vue
  frontend/components/refrigerator/List.vue
  frontend/components/refrigerator/New.vue
  frontend/components/refrigerator/Wrapper.vue
  frontend/pages/home.vue
  frontend/pages/index.vue
  frontend/service/httputils/RefridgeratorService.ts
  frontend/service/httputils/RefrigeratorService.ts
  frontend/store/refrigeratorStore.ts
Due: test_frontend, build_frontend

Added PreAuthorize to Refrigerator- & GroceryController
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

Fixed @Operation(summary ="")
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

RefrigeratorType added members
  frontend/types/RefrigeratorType.ts
Due: test_frontend, build_frontend

Added getRefrigeratorById API call
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

Added files for administrating a fridge
  frontend/components/Form/EditFridgeForm.vue
  frontend/components/Form/InviteUserForm.vue
  frontend/components/refrigerator/AdministrateFridge.vue
  frontend/pages/administrate-fridge/[id].vue
Due: test_frontend, build_frontend

removed all groceries display in refrigerator.
  frontend/components/Notifications/List.vue
  frontend/components/refrigerator/Display.vue
  frontend/components/refrigerator/Wrapper.vue
Due: test_frontend, build_frontend

added translations to some parts of refrigerator
  frontend/components/refrigerator/List.vue
  frontend/locales/no.json
Due: test_frontend, build_frontend

added members field to RefrigeratorType
  frontend/types/RefrigeratorType.ts
Due: test_frontend, build_frontend

changed administratePage route
  frontend/components/Form/InviteUserForm.vue
  frontend/components/refrigerator/AdministrateFridge.vue
  frontend/pages/administrate-fridge.vue
  frontend/pages/administrate-fridge/[id].vue
Due: test_frontend, build_frontend

refrigerator is now alphabetically sorted
  frontend/components/refrigerator/List.vue
Due: test_frontend, build_frontend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
