Repository ecschoye/Smartmat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, package_backend, test_frontend, build_frontend

test_backend:
  stage: test_backend
  script:
  - mvn -f backend/pom.xml clean test
  artifacts:
    when: always
    paths:
    - target/site/jacoco
    reports:
      junit:
      - target/surefire-reports/TEST-*.xml
      - target/failsafe-reports/TEST-*.xml

package_backend:
  stage: package_backend
  script:
  - mvn -f backend/pom.xml -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test_frontend:
  stage: test_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run test
  artifacts:
    when: always
    paths:
    - coverage/
    reports:
      junit: coverage/junit.xml

build_frontend:
  stage: build_frontend
  image: node:latest
  script:
  - cd frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - dist/

Tests for model package
  backend/src/test/java/ntnu/idatt2106/backend/model/RefrigeratorTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/RefrigeratorUserTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/ShoppingCartTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/ShoppingListTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/SubCategoryTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/UserTest.java
Due: test_backend, package_backend

update: test for groceryController
  backend/src/test/java/ntnu/idatt2106/backend/controller/GroceryControllerTest.java
Due: test_backend, package_backend

fixed log out bug - refrigerator store now cleared
  frontend/components/FridgeSelector.vue
  frontend/pages/index.vue
  frontend/store/refrigeratorStore.ts
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

if user only has one refrigerator, it will get selected automatically
  frontend/store/refrigeratorStore.ts
Due: test_frontend, build_frontend

edit: error handling in shioppingListController
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
Due: test_backend, package_backend

added select menu to edit grocery popup
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/Element.vue
  frontend/components/refrigerator/SelectUnit.vue
  frontend/locales/no.json
  frontend/types/GroceryEntityType.ts
  frontend/types/UnitType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

edit: add exeption to global exception handler
  backend/src/main/java/ntnu/idatt2106/backend/GlobalExceptionHandler.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
Due: test_backend, package_backend

added links to navbar
  frontend/components/NavBar.vue
Due: test_frontend, build_frontend

Tests for model.requests package
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/MemberRequestTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/RemoveMemberRequestTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/SaveGroceryListRequestTest.java
  backend/src/test/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequestTest.java
Due: test_backend, package_backend

reroute fix
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

moved RecipeService to root service package
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RecipeService.java
Due: test_backend, package_backend

Set favorite refrigerator service method
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

Set favorite refrigerator endpoint
  backend/src/main/java/ntnu/idatt2106/backend/controller/RefrigeratorController.java
Due: test_backend, package_backend

API call to edit favorite
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

refactor:shoppingCart controller, service and repo
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/ShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
Due: test_backend, package_backend

refactored css
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/store/WeeklyMenuStore.ts
Due: test_frontend, build_frontend

Delete docker-compose.yml
  docker-compose.yml
Due: none

dockerfile update to re insert test data
  backend/Dockerfile
Due: test_backend, package_backend

added unit functionality
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/CreateRefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/UnitDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryListRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/test/java/ntnu/idatt2106/backend/service/GroceryServiceTest.java
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/New.vue
  frontend/components/refrigerator/SelectUnit.vue
  frontend/service/httputils/GroceryService.ts
Due: test_backend, package_backend, test_frontend, build_frontend

reset docker file
  backend/Dockerfile
Due: test_backend, package_backend

heart icons
  frontend/assets/icons/heart.png
  frontend/assets/icons/heartfilled.png
Due: test_frontend, build_frontend

language ++
  frontend/locales/en.json
Due: test_frontend, build_frontend

remove import
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

favoriteRefrigeratorId in DTO and frontend
  backend/src/main/java/ntnu/idatt2106/backend/controller/MyProfileController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/UserProfileDTO.java
  frontend/service/httputils/authentication/AuthenticationService.ts
  frontend/types/UserType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

updated light mode design
  frontend/assets/global.css
  frontend/components/Form/CreateFridgeForm.vue
  frontend/components/Form/EditFridgeForm.vue
  frontend/components/Form/InviteUserForm.vue
  frontend/components/Form/LogInForm.vue
  frontend/components/FridgeSelector.vue
  frontend/components/NavBar.vue
  frontend/components/Profile/EditProfile.vue
  frontend/components/Profile/InfoBox.vue
  frontend/components/Profile/MyProfile.vue
  frontend/components/refrigerator/Display.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/i18n.config.ts
  frontend/pages/about-us.vue
  frontend/pages/administrate-fridge.vue
  frontend/pages/create-fridge.vue
  frontend/pages/home.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/my-profile/change-password.vue
  frontend/pages/my-profile/edit.vue
  frontend/pages/my-profile/index.vue
  frontend/pages/notifications.vue
  frontend/pages/recipe-list.vue
  frontend/pages/system-settings.vue
Due: test_frontend, build_frontend

styling home.vue
  frontend/components/refrigerator/Display.vue
  frontend/pages/home.vue
Due: test_frontend, build_frontend

recipes' ingredients and quantity will now be in the response when fetching recipes
  backend/src/main/java/ntnu/idatt2106/backend/controller/RecipeController.java
  backend/src/main/java/ntnu/idatt2106/backend/exceptions/NoSuchElementRuntimeException.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/GroceryInfoDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/recipe/IngredientDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/recipe/RecipeDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/recipe/SimpleGrocery.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/recipe/RecipeGroceryRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/RecipeService.java
Due: test_backend, package_backend

styling to Weekly menu
  frontend/components/WeeklyMenu/RecipePool.vue
  frontend/components/WeeklyMenu/RecipeWeeklyCard.vue
  frontend/components/WeeklyMenu/UnknownRecipe.vue
Due: test_frontend, build_frontend

fix: saving methods for shopping lists and cart
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingCartController.java
  backend/src/main/java/ntnu/idatt2106/backend/controller/ShoppingListController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingCart.java
  backend/src/main/java/ntnu/idatt2106/backend/model/grocery/GroceryShoppingList.java
  backend/src/main/java/ntnu/idatt2106/backend/model/requests/SaveGroceryRequest.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingCartRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/GroceryShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/repository/RefrigeratorShoppingListRepository.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingListService.java
  frontend/components/shopping_list/AddNewElement.vue
  frontend/service/httputils/ShoppingCartService.ts
  frontend/service/httputils/ShoppingListService.ts
  frontend/types/EditGrocery.ts
  frontend/types/SaveGrocery.ts
Due: test_backend, package_backend, test_frontend, build_frontend

FavoriteToggler component
  frontend/components/Button/FavoriteToggler.vue
Due: test_frontend, build_frontend

Minor changes
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

Added favoriteToggler
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

SetFavoriteRefrigerator in userStore
  frontend/store/userStore.ts
Due: test_frontend, build_frontend

Remove favorite API call
  frontend/service/httputils/RefrigeratorService.ts
Due: test_frontend, build_frontend

Avoiding nullpointer
  backend/src/main/java/ntnu/idatt2106/backend/service/RefrigeratorService.java
Due: test_backend, package_backend

langugage++
  frontend/locales/en.json
Due: test_frontend, build_frontend

FavoriteToggler fixes
  frontend/components/Button/FavoriteToggler.vue
  frontend/pages/administrate-fridge.vue
Due: test_frontend, build_frontend

edit: display of shopping list
  backend/src/main/java/ntnu/idatt2106/backend/service/ShoppingCartService.java
  frontend/components/shopping_list/RefrigeratorGroceries.vue
  frontend/components/shopping_list/ShoppingList.vue
  frontend/components/shopping_list/ShoppingListCategory.vue
Due: test_backend, package_backend, test_frontend, build_frontend

implemented edit with units, and fixed create bugs and endpoints
  backend/src/main/java/ntnu/idatt2106/backend/controller/GroceryController.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/DeleteRefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/RefrigeratorGroceryDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/model/dto/UnitDTO.java
  backend/src/main/java/ntnu/idatt2106/backend/service/GroceryService.java
  backend/src/main/java/ntnu/idatt2106/backend/service/UnitService.java
  frontend/components/refrigerator/EditGrocery.vue
  frontend/components/refrigerator/Element.vue
  frontend/components/refrigerator/SelectUnit.vue
  frontend/components/refrigerator/Wrapper.vue
  frontend/service/httputils/GroceryService.ts
  frontend/types/UnitType.ts
Due: test_backend, package_backend, test_frontend, build_frontend

Fixed fetch favorite / default bug
  frontend/components/FridgeSelector.vue
Due: test_frontend, build_frontend

Path conditions:
  test_backend: any of: backend/**/*
  package_backend: any of: backend/**/*
  test_frontend: any of: frontend/**/*
  build_frontend: any of: frontend/**/*
